.enterStations {
  display: flex;
  justify-content: center;

  input {
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    min-width: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 670px) {
  .enterStations {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      margin-right: 0;
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

