.addMarkerWindow{
    width: 400px;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
    h1{
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    }
}
.buttons{
    display: flex;
    justify-content: space-around;
}
